@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #06090e;
  --foreground: #ededed;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Completely hide scrollbars across all browsers and elements */
*::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
